<aside class="tw-w-[300px] tw-min-h-[700px] tw-p-4 tw-shadow-2xl tw-rounded-md tw-fixed">
  <div class="w-full *:tw-text-sm">
    <h2 class="tw-uppercase tw-text-black tw-font-semibold tw-py-4">Home</h2>
    <ul class="tw-flex tw-gap-4 tw-py-3 tw-pl-5 *:tw-text-gray-500 hover:tw-bg-blue-100 tw-rounded-2xl cursor-pointer">
      <i class="pi pi-home" style="font-size: 1rem"></i>
      <li routerLink="/dashboard" class="tw-font-bold tw-w-full">
        <span>Dashboard</span>
      </li>
    </ul>
  </div>

  <div class="w-full *:tw-text-sm">
    <h2 class="tw-uppercase tw-text-black tw-font-semibold tw-py-4">Pages</h2>
   <ul>
     <li routerLink="/dashboard/users" class="tw-flex tw-gap-4 tw-py-3 tw-pl-5 *:tw-text-gray-500 hover:tw-bg-blue-100 tw-rounded-2xl cursor-pointer">
       <i class="pi pi-users" style="font-size: 1rem"></i>
       <span class="tw-font-bold">Users</span>
     </li>
     <li class="tw-flex tw-gap-4 tw-py-3 tw-pl-5 *:tw-text-gray-500 hover:tw-bg-blue-100 tw-rounded-2xl cursor-pointer">
       <i class="pi pi-box" style="font-size: 1rem"></i>
       <span class="tw-font-bold">Categories</span>
     </li>
     <li routerLink="/dashboard/products" class="tw-flex tw-gap-4 tw-py-3 tw-pl-5 *:tw-text-gray-500 hover:tw-bg-blue-100 tw-rounded-2xl cursor-pointer">
       <i class="pi pi-list" style="font-size: 1rem"></i>
       <span class="tw-font-bold">Products</span>
     </li>
     <li class="tw-flex tw-gap-4 tw-py-3 tw-pl-5 *:tw-text-gray-500 hover:tw-bg-blue-100 tw-rounded-2xl cursor-pointer">
       <i class="pi pi-shopping-cart" style="font-size: 1rem"></i>
       <span class="tw-font-bold">Oders</span>
     </li>
   </ul>
  </div>

  <div class="w-full *:tw-text-sm">
    <h2 class="tw-uppercase tw-text-black tw-font-semibold tw-py-4">Other</h2>
    <ul>
      <li class="tw-flex tw-gap-4 tw-py-3 tw-pl-5 *:tw-text-gray-500 hover:tw-bg-blue-100 tw-rounded-2xl cursor-pointer">
        <i class="pi pi-chart-line" style="font-size: 1rem"></i>
        <span class="tw-font-bold">Chart</span>
      </li>
      <li class="tw-flex tw-gap-4 tw-py-3 tw-pl-5 *:tw-text-gray-500 hover:tw-bg-blue-100 tw-rounded-2xl cursor-pointer">
        <i class="pi pi-github" style="font-size: 1rem"></i>
        <span class="tw-font-bold">Github</span>
      </li>
      <li class="tw-flex tw-gap-4 tw-py-3 tw-pl-5 *:tw-text-gray-500 hover:tw-bg-blue-100 tw-rounded-2xl cursor-pointer">
        <i class="pi pi-linkedin" style="font-size: 1rem"></i>
        <span class="tw-font-bold">Linkedin</span>
      </li>
    </ul>
  </div>

  <div class="tw-flex tw-justify-center tw-mt-20">
    <code class="tw-font-bold">Design by trunghieudev15</code>
  </div>

</aside>
