<p-table
  [value]="products"
  [paginator]="true"
  [rows]="5"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[5, 10, 20]"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width:25%">Name</th>
      <th style="width:25%">Category</th>
      <th style="width:25%">Total sales</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.productName }}</td>
      <td>{{ product.cate }}</td>
      <td>{{ product.productBuyQuantity }}</td>
      @if (product.productBuyQuantity >= products[2].productBuyQuantity) {
        <td>
          <i class="pi pi-angle-double-up tw-text-emerald-500" style="font-size: 1rem"></i>
        </td>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
  </ng-template>
</p-table>
