<div class="tw-mt-32 tw-w-full tw-flex-1">
  <footer class="tw-grid tw-h-[450px] tw-grid-cols-3">
    <div class="gap-6 tw-flex tw-flex-col tw-items-end tw-px-8 tw-text-end">
      <h1 class="tw-text-[28px] tw-font-bold tw-text-primary">Contact Us</h1>
      <div class="tw-flex tw-flex-col *:tw-text-[#525C60]">
        <span class="tw-font-bold">Email</span>
        <p>dinhletrunghieu0207&#64;gmail.com</p>
      </div>
      <div class="tw-flex tw-flex-col *:tw-text-[#525C60]">
        <span class="tw-font-bold">Phone</span>
        <p>666 888 888</p>
      </div>
      <div class="tw-flex tw-flex-col *:tw-text-[#525C60]">
        <span class="tw-font-bold">Address</span>
        <p>88 road, borklyn street, USA</p>
      </div>
    </div>
    <div
      class="flex tw-h-[336px] tw-flex-col tw-items-center tw-border-l-[1px] tw-border-r-[1px] tw-border-background-300 tw-px-8"
    >
      <img
        class="tw-object-cover"
        src="assets/images/Logo-full.png"
        width="200"
        alt="Logo"
      />
      <p class="tw-mb-12 tw-mt-6 tw-text-[#525C60]">
        Simply dummy text of the printing and typesetting industry. Lorem Ipsum
        simply dummy text of the printing
      </p>
      <div class="flex flex-row gap-4">
        <div
          class="tw-flex tw-size-12 tw-items-center tw-justify-center tw-rounded-full tw-bg-background-300"
        >
          <i class="pi pi-instagram tw-text-[20px] tw-text-primary"></i>
        </div>
        <div
          class="tw-flex tw-size-12 tw-items-center tw-justify-center tw-rounded-full tw-bg-background-300"
        >
          <i class="pi pi-facebook tw-text-[20px] tw-text-primary"></i>
        </div>
        <div
          class="tw-flex tw-size-12 tw-items-center tw-justify-center tw-rounded-full tw-bg-background-300"
        >
          <i class="pi pi-twitter tw-text-[20px] tw-text-primary"></i>
        </div>
        <div
          class="tw-flex tw-size-12 tw-items-center tw-justify-center tw-rounded-full tw-bg-background-300"
        >
          <i class="pi pi-linkedin tw-text-[20px] tw-text-primary"></i>
        </div>
      </div>
    </div>
    <div class="gap-6 tw-flex tw-flex-col tw-px-8">
      <h1 class="tw-text-[28px] tw-font-bold tw-text-primary">Utility Pages</h1>
      <div class="tw-flex tw-flex-col tw-gap-4 tw-text-[#525C60]">
        <p>Style Guide</p>
        <p>404 Not Found</p>
        <p>Password Protected</p>
        <p>Licences</p>
        <p>Changelog</p>
      </div>
    </div>
  </footer>
  <div class="tw-border-t-[0.5px] tw-border-background-300 tw-text-center">
    <p class="tw-py-4 tw-font-normal tw-tracking-wider tw-text-[#525C60]">
      Copyright © <span class="tw-font-bold">Organick</span> | Designed by
      <span class="tw-font-bold">VictorFlow</span> Templates - Powered by
      <span class="tw-font-bold">Webflow</span>
    </p>
  </div>
</div>
