:host ::ng-deep {
  input.p-inputtext.p-component.p-element.p-password-input {
    display: block;
    width: 100%;
  }

  .p-password.p-component.p-inputwrapper.p-input-icon-right {
    width: 100%;
  }
}
