<div
  class="tw-mt-24 tw-flex tw-h-80 tw-w-full tw-items-center tw-justify-between tw-rounded-[30px] tw-bg-[url('assets/images/banners/subscribe.jpg')] tw-px-32"
>
  <h2 class="tw-text-[50px] tw-font-extrabold tw-text-[#ffffff]">
    Subscribe to <br />
    our Newsletter
  </h2>
  <div class="flex tw-gap-4">
    <div class="card">
      <input
        class="tw-h-20 tw-w-[350px] tw-rounded-2xl"
        type="text"
        pInputText
        placeholder="Your email address"
      />
    </div>

    <div class="card">
      <p-button label="Subscribe"></p-button>
    </div>
  </div>
</div>

