/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yellowtail&display=swap');

@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.scss';

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/* Reset CSS */
@layer reset {
  button {
    &:focus {
      box-shadow: none;
    }
  }
}

body .p-component {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.menu-items-hover {
  @apply tw-relative tw-py-1 after:tw-absolute after:tw-bottom-0 after:tw-left-0 after:tw-h-[3px] after:tw-w-0 after:tw-bg-primary after:tw-transition-all after:tw-duration-300 after:tw-ease-linear hover:after:tw-w-full;
}
