<header class="tw-w-full tw-px-6 tw-py-5 tw-flex tw-justify-between tw-shadow-md tw-fixed tw-bg-white tw-z-50">
  <h1 class="tw-text-2xl tw-font-bold tw-tracking-widest">Organick Shop</h1>
  <div class="tw-flex tw-items-center tw-gap-4 *:tw-text-md *:tw-font-semibold">
    <div class="card">
      <p-avatar image="https://c4.wallpaperflare.com/wallpaper/1006/980/53/cyberpunk-edgerunners-cyberpunk-2077-cd-projekt-red-trigger-anime-hd-wallpaper-preview.jpg" styleClass="mr-2" shape="circle"></p-avatar>
    </div>
    <span>Hi, admin</span>
    <span class="cursor-pointer" (click)="handleLogOut()">Logout</span>
  </div>
</header>
